* {
    font-family: 'Poppins', sans-serif;
}

.warna-utama {
    background: rgb(255, 105, 180);
    background: radial-gradient(circle, rgba(255, 105, 180, 1) 0%, rgba(244, 172, 219, 1) 35%, rgba(242, 243, 255, 1) 100%);
}