@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
    font-family: myFont;
    src: url(./assets/Sankyu.ttf);
}

h5 {
    font-family: myFont;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    @apply w-full border my-2 py-2 px-3 rounded-lg
}